*.7z filter=lfs diff=lfs merge=lfs -text
*.DDS filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bsa filter=lfs diff=lfs merge=lfs -text
*.bsl filter=lfs diff=lfs merge=lfs -text
*.btr filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.dll.mohidden filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.esl filter=lfs diff=lfs merge=lfs -text
*.esl.backup.* filter=lfs diff=lfs merge=lfs -text
*.esm filter=lfs diff=lfs merge=lfs -text
*.esm.backup.* filter=lfs diff=lfs merge=lfs -text
*.esp filter=lfs diff=lfs merge=lfs -text
*.esp.backup.* filter=lfs diff=lfs merge=lfs -text
*.esp.bak filter=lfs diff=lfs merge=lfs -text
*.ess filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.fla filter=lfs diff=lfs merge=lfs -text
*.fuz filter=lfs diff=lfs merge=lfs -text
*.gfx filter=lfs diff=lfs merge=lfs -text
*.hkx filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.json diff=json
*.lip filter=lfs diff=lfs merge=lfs -text
*.nif filter=lfs diff=lfs merge=lfs -text
*.osd filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.pex filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.seq filter=lfs diff=lfs merge=lfs -text
*.skse filter=lfs diff=lfs merge=lfs -text
*.swf filter=lfs diff=lfs merge=lfs -text
*.tri filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.xwm filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
modlist.txt diff=modlist
